.fab, .fab-danger {
  position: fixed;

  display: block;
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;

  &:focus {
    box-shadow: none;
  }
}

.fab {
  bottom: 25px;
  right: 25px;
}

.fab-danger {
  bottom: 25px;
  left: 25px;
}