.login-container {
  margin-top: 15%;

  & form {
    padding: 10%;
  }
}

.login-form-1 {
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba($black, 0.2), 0 9px 26px 0 rgba($black, 0.19);
  padding: 5%;

  & h3 {
    text-align: center;
    color: $darkGrey;
  }

  & .btnSubmit {
    color: $white;
    background-color: $blue;
  }

  & .ForgetPwd {
    color: $blue;
    font-weight: 600;
    text-decoration: none;
  }
}

.login-form-2 {
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba($black, 0.2), 0 9px 26px 0 rgba($black, 0.19);
  padding: 5%;
  background: $blue;

  & h3 {
    text-align: center;
    color: $white;
  }

  & .btnSubmit {
    background-color: $white;
    color: $blue;
  }

  & .ForgetPwd {
    color: $white;
    font-weight: 600;
    text-decoration: none;
  }
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
